1. In the below elements which of them are values or an expression? eg:- values can be integer or string and expressions will be mathematical operators.
* 
'hello'
-87.8
- 
/ 
+	
6

'hello' --> string values,

87.8    --> floating value,

/       --> division operator,

6       --> integer value.

2. What is the difference between string and variable?

string is one or more no of characters, variables as well as symbols are placed into the double or single colon (" " , ' ') and store the values like numeric, alphanumeric, symbolic etc

ex str1 = "ganesh!123" 


variable is simply mean as container where we placed any data like variable, string, floating values, in placed store into ram and occupied the data to simply recalled by it's name.

ex. str1 is the variable where we saved "ganesh!123" string data.

3. Describe three different data types.

1. float --> this is data type where we save or place data is in decimal values which helps to find the correct and accurate decimal price of the number. like if we have an salary colum and is in placed in floating value we find the accurate amount of salary which has been paid to employee or person.

eg. $3840.95

2. String --> this the value is which stored into the double quotes and it is be variable, alph numeric, numeric, symbolic anything we can be placed into the double quotes. but string has an disadvatage is that is not mutable or cannot be changed.

eg. str1 = 'ramesh'

3. integer --> this is data type similar to the float but there is small change in this it has pure round value, it doesnot came with any decimal value it totally pure or rounded value.

eg. a = 31

4. What is an expression made up of? What do all expressions do?

expression is nothing but the doing mathmatical expression like adding, substracting, division & multiplication which helps to get finding answers and helping to do job easily which make program faster, accurate and simple.

most of 4 expression is done 

addition --> 4+4 = 8

divison --> 4/4 = 1

multiplication --> 4*4 = 16

substraction --> 4-4 = 0

5. This assignment statements, like spam = 10. What is the difference between an expression and a statement?

expression is the use of operator , arthmatic sigh known as expression. it will be any kind of like addition, equal-equal to, greater than, smaller than.


a statment is be the code which we write to run the commond of lines like spam = 10 is statement and also the expression

6. After running the following code, what does the variable bacon contain?
bacon = 22
bacon + 1

In [3]:
bacon = 22
bacon = bacon +1 

print(bacon)

23

7. What should the values of the following two terms be?

'spam' + 'spamspam'

'spam' * 3

In [4]:
'spam' + 'spamspam'

'spamspamspam'

In [6]:

'spam' *3

'spamspamspam'

8. Why is eggs a valid variable name while 100 is invalid?

a starting of variable is must be with letter or some case with special symbol but it should not be stat with number it is against the law of python language. so that's why the we cannot start the name of variable with numeric.